telegram_bot/bot_telegram.json
[
    {
        "id": "3a48b0dde1fc7e2e",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d0a8bab60a05a449",
        "type": "function",
        "z": "3a48b0dde1fc7e2e",
        "name": "",
        "func": "variable = msg.payload\nmsg.payload={\n    chatId: 1081269815,\n    type: \"message\",\n    content: variable.tempc\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "2782bb1423f8a6ed",
                "caa4f0a981afa7d6"
            ]
        ]
    },
    {
        "id": "2782bb1423f8a6ed",
        "type": "debug",
        "z": "3a48b0dde1fc7e2e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "a143c4b6b8c790cb",
        "type": "openweathermap",
        "z": "3a48b0dde1fc7e2e",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Caracas",
        "country": "Venezuela",
        "language": "en",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "d0a8bab60a05a449"
            ]
        ]
    },
    {
        "id": "ce1fc530a366bd88",
        "type": "inject",
        "z": "3a48b0dde1fc7e2e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "caa4f0a981afa7d6",
        "type": "telegram sender",
        "z": "3a48b0dde1fc7e2e",
        "name": "",
        "bot": "d4b86ec7150038cc",
        "haserroroutput": false,
        "outputs": 1,
        "x": 570,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "08888ff024fbd234",
        "type": "telegram receiver",
        "z": "3a48b0dde1fc7e2e",
        "name": "",
        "bot": "d4b86ec7150038cc",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 540,
        "wires": [
            [
                "6b86181adf05931c"
            ],
            []
        ]
    },
    {
        "id": "6b86181adf05931c",
        "type": "switch",
        "z": "3a48b0dde1fc7e2e",
        "name": "",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "temp",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "hola",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "a143c4b6b8c790cb",
                "9521d14d273795f4"
            ],
            [
                "439794d8ece9e5c5"
            ]
        ]
    },
    {
        "id": "439794d8ece9e5c5",
        "type": "function",
        "z": "3a48b0dde1fc7e2e",
        "name": "f2",
        "func": "msg.payload={\n    chatId: 1081269815,\n    type: \"message\",\n    content: \"alo\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 440,
        "wires": [
            [
                "caa4f0a981afa7d6"
            ]
        ]
    },
    {
        "id": "88f7e38873ab09c6",
        "type": "telegram command",
        "z": "3a48b0dde1fc7e2e",
        "name": "/info",
        "command": "/info",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d4b86ec7150038cc",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "c23ea1eafb9108d5"
            ],
            []
        ]
    },
    {
        "id": "c23ea1eafb9108d5",
        "type": "function",
        "z": "3a48b0dde1fc7e2e",
        "name": "f3",
        "func": "msg.payload={\n    chatId: 1081269815,\n    type: \"message\",\n    content: \"Primera versión de bot de telegram del alumno Leopoldo Cadavid\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 640,
        "wires": [
            [
                "caa4f0a981afa7d6"
            ]
        ]
    },
    {
        "id": "9521d14d273795f4",
        "type": "function",
        "z": "3a48b0dde1fc7e2e",
        "name": "",
        "func": "msg.payload={\n    chatId: 1081269815,\n    type: \"message\",\n    content: \"la temperatura en Caracas es de: \"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 340,
        "wires": [
            [
                "caa4f0a981afa7d6"
            ]
        ]
    },
    {
        "id": "d4b86ec7150038cc",
        "type": "telegram bot",
        "botname": "lacp2_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]